.authStatus {
  width: 100%;
  display: flex;
  gap: 18px;
  align-items: center;
  padding: 8px 13px;
  background-color: #f4f6fc;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid #f4f6fc;
  border-radius: 4px;
  text-align: left;
}

.warning {
  color: #fd5461;
}

.success {
  color: #29c293;
}
